.st_bg.st_bg_no-red{
    background: url(/img/special_triple_no-red.png) 0 0 no-repeat;
}

.footer--recomendation{
    display: block;
    text-align: left;
    margin-left: -20px;
    padding: 20px 0;
}

.footer--recomendation li{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-bottom: 10px;
}

.footer--recomendation li a{
    display: block;
}

.purch-wrap h1{
    padding-right: 150px;
}

.index_desc{
    padding: 25px 30px 30px 30px;
}

.index_desc .big{
    padding-right: 60px;
}

.index_desc ul li{
    width: 48%;
}